
{% extends "listas/layout.html" %}

{% block body %}
    <h1>Evento {{ produto.id }}</h1>
    <ul>
        <li>Produto: {{ produto.produto }}</li>
        <li>Preço: R${{ produto.preco }}</li>
        <li>Quantidade: {{ produto.quantidade }}</li>
    </ul>
<!--     
    <a href="{% url 'index' %}">All Flights</a>

    <h2>Passengers:</h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li>No Passengers.</li>
        {% endfor %}
    </ul>


    <form action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger" id="">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form> -->


{% endblock %}