
{% extends "listas/layout.html" %}

{% block body %}

<h1>Olá, {{ request.user.username }}</h1>
<ul>
    <li>Usuário Atual: {{ request.user.username }}</li>
</ul>
<a href="{% url 'logout' %}">Log Out</a>

<ul>
    {% for nome in listas %}
        <a href="{% url 'update_list' nome.id %}">
            <li> {{ nome.nome }}</li>
        </a>
    {% endfor %}
</ul>

<a href="{% url 'create_list' %}">Nova Lista</a>

<ul>
    {% for product in products %}
        <a href="{% url 'update_product' product.id %}">
            <li> {{ produto.produto }}</li>
        </a>
    {% endfor %}
</ul>

<a href="{% url 'create_products' %}">Novo Produto</a>

{% endblock %}
